# Business Understanding
By [THE TIMES OF INDIA](https://timesofindia.indiatimes.com/business/india-business/india-becomes-third-largest-startup-ecosystem-in-the-world/articleshow/85871428.cms), India has emerged as the third largest startup ecosystem in the world after US and China. Following this, our team aims to strategically enter the Indian Startup Ecosystem by leveraging data-driven insights to identify high-potential opportunities. Through comprehensive research and analysis, we seek to gain insight into funding received by startups in India from 2018 to 2021.

### Hypothesis
**Null Hypothesis (Ho):** The sector of a startup has no significant influence on the funding it receives.<br>

**Alternative Hypothesis (Ha):** The sector of a startup has significant influence on the funding it receives.

# Data Understanding
This data provides information into amount of money startups received from 2018 to 2021, the sector of startups, headquaters, what a startup do, the year of establishment, startup name, investors, and stage.<br>

`Feature Description`:
- **Company_Brand:** Name of startup
- **Founded:** Year of establishment
- **HeadQuater:** Location of startup Headquater
- **Sector:** Sector or industry of startup
- **What_it_does:** what the startup does
- **Founders:** Name od founder
- **Investors:** Name of investor
- **Amount:** Amount of investment in USD and INR
- **Statge:** Phase of development (eg. Ideation Stage, Pre-Seed Stage, Seed Stage, Early Stage (Series A, B, etc.))
- **Year:** Year startup received funding

### Analytical Questions
1. How is funding spread across the years?
2. What are the dominant sectors within the Indian startup ecosystem across the years?
3. Are there any emerging sectors that have shown a significant increase in funding year over year?
4. Where in India could be considered the surviving grounds for startups?
5. How does the startup's location influence its funding and growth opportunities?
6. Is there a relationship between what a startup does and the funding it receives?
7. Is there a correlation between the year a startup received funding and the amount of funding it received?
8. Which cities or regions have the highest concentration of funded startups?

### Loading the data

In [1]:
# Import necesary libraries and packages
import pyodbc
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load environment variables from .env file
environment_variables = dotenv_values('.env')
# Access login credentials from  the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

In [3]:
#  Credection Connection tesr
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# connect to the server with help of pyodbc
connection = pyodbc.connect(connection_string)

In [4]:
# Write querry to retrieve tables from database
query1 = "Select * from dbo.LP1_startup_funding2020"
query2 = "Select * from dbo.LP1_startup_funding2021"

# Retrieve dataset from database with connection created
df_2020 = pd.read_sql(query1, connection)
df_2021 = pd.read_sql(query2, connection)

# Load CSV files
df_2018 = pd.read_csv('Data\startup_funding2018.csv')
df_2019 = pd.read_csv('Data\startup_funding2019.csv')

## Exploring data quality and characteristics

### Data cleaning

In [8]:
# Preview dataframe
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [9]:
# Add year column to dataframe
df_2020["Year"] = 2020
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [27]:
print(df_2020.info(), "\n====================== Null Value Percentage ==========================")
print(df_2020.isna().mean().mul(100), "\n======================= Duplicated rows =========================")
df_2020.loc[df_2020.duplicated()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   Year           1055 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 82.5+ KB
None
====================== Null Value Percentage ==========================
Company_Brand     0.000000
Founded          20.189573
HeadQuarter       8.909953
Sector            1.232227
What_it_does      0.000000
Founders          1.137441
Investor          3.601896
Amount           24.075829
Stage            43.981043
Year              0.000000
dtype: float64
======================= Duplicated rows =========================

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,2020
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,2020
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,2020

In the seed stage, startup has a working prototype or minimum viable product (MVP) and is focused on validating the product-market fit. The goal is to attract initial customers and generate early revenue. Key activities carried out in this stage include Product launch, customer acquisition, and iterating based on feedback.
Following this, all duplicated rows with the seed stage are dropped. This is because this is an early stage and expansion is not an option for startups.

In [28]:
# Drop duplicated rows from DataFrame
df_2020.drop_duplicates(keep = "first", inplace = True)

Column10 has 99.8% null values so we drop it

In [21]:
# Drop columns10
df_2020.drop(columns = ["column10"], inplace = True)
# Preview remaining columns 
df_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')

In [8]:
# Preview dataframe
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [9]:
# Add year column to dataframe
df_2021["Year"] = 2021
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [32]:
print(df_2021.info(), "\n====================== Null Value Percentage ======================")
print(df_2021.isna().mean().mul(100), "\n====================== Duplicated rows ======================")
df_2021.loc[df_2021.duplicated()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB
None
====================== Null Value Percentage ======================
Company_Brand     0.000000
Founded           0.082713
HeadQuarter       0.082713
Sector            0.000000
What_it_does      0.000000
Founders          0.330852
Investor          5.128205
Amount            0.248139
Stage            35.401158
dtype: float64
====================== Duplicated rows ======================

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,None
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,None
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,None
119,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,None
243,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
244,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
245,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
246,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,$24000000,Series E
247,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
248,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
249,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,None
250,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
251,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
253,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
254,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",None,$500000,None
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None

In [ ]:
df

Column10 has 99.8% null values so we drop it

In [11]:
df_2020.drop(columns = "column10", inplace = True)

In [12]:
print(df_2020.columns)
print(df_2021.columns)

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')

- 2020 and 2021 dataframes now have the same column names so we combine them.
- Also, we assume the currency for both 2021 and 2020 dataframes are the same

In [13]:
# Combine 2020 and 2021 dataframes into a single dataframe
df_new1 = pd.concat([df_2020, df_2021], axis = 0)
# Preview combined dataframe
df_new1.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020

In [14]:
# Check for null values in the combined dataframe
df_new1.isna().mean().mul(100)

Company_Brand     0.000000
Founded           9.452297
HeadQuarter       4.196113
Sector            0.574205
What_it_does      0.000000
Founders          0.706714
Investor          4.416961
Amount           11.351590
Stage            39.399293
Year              0.000000
dtype: float64

In [15]:
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2264 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2264 non-null   object
 1   Founded        2050 non-null   float64
 2   HeadQuarter    2169 non-null   object
 3   Sector         2251 non-null   object
 4   What_it_does   2264 non-null   object
 5   Founders       2248 non-null   object
 6   Investor       2164 non-null   object
 7   Amount         2007 non-null   object
 8   Stage          1372 non-null   object
 9   Year           2264 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 194.6+ KB

In [16]:
duplicated_startups = df_new1.loc[df_new1.duplicated()]
duplicated_startups.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,2020
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,2020
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,2020
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,None,2021
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,None,2021

In general, a startup is usually characterized by being a single business entity, often in its early stages, focusing on bringing an innovative product or service to market. However, a startup can have multiple establishments or locations. This typically happens as the startup grows and expands its operations to different regions or markets. As a result, we drop duplicated startups.

In [17]:
# # Drop duplicates
# df_new1.drop_duplicates(keep = "first", inplace = True)

# # Check for duplicates
# df_new1.duplicated().sum()

0

In [18]:
# Preview dataframe
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [19]:
df_2018["Amount"].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [20]:
# Add year column to dataframe
df_2018["Year"] = 2018
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [21]:
# # Extract first names from location column
# df_2018["Location"] = df_2018["Location"].str.split(expand = True)[0]
# df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore,","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai,",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon,",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida,",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad,",Eunimart is a one stop solution for merchants ...,2018

In [22]:
# Rename columns
df_2018.rename(columns={'Company Name':'Company_Brand','Industry':'Sector','Round/Series':'Stage','Location':'HeadQuarter','About Company':'What_it_does'} ,inplace=True)

In [23]:
# Preview dataframe
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [24]:
df_2019["Amount($)"].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [25]:
# Add year column to dataframe
df_2019["Year"] = 2019
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [26]:
df_2019.rename(columns={'Company/Brand':'Company_Brand','Amount($)':'Amount', 'What it does': 'What_it_does'}, inplace=True)

In [27]:
print(df_2020.columns)
print(df_2021.columns)

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')

In [28]:
print(df_2018.columns)
print(df_2019.columns)

Index(['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter',
       'What_it_does', 'Year'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Year'],
      dtype='object')

In [29]:
df_new2 = pd.concat([df_2018, df_2019], axis = 0)
df_new2.head()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,Year,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore,","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai,",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon,",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida,",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad,",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN

In [30]:
df_new2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  615 non-null    object
 1   Sector         610 non-null    object
 2   Stage          569 non-null    object
 3   Amount         615 non-null    object
 4   HeadQuarter    596 non-null    object
 5   What_it_does   615 non-null    object
 6   Year           615 non-null    int64
 7   Founded        60 non-null     float64
 8   Founders       86 non-null     object
 9   Investor       89 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 52.9+ KB

In [31]:
# Combine both joined dataframes
df_combined = pd.concat([df_new1, df_new2], axis = 0)
df_combined.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,2020

In [32]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2857 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2857 non-null   object
 1   Founded        2088 non-null   float64
 2   HeadQuarter    2743 non-null   object
 3   Sector         2839 non-null   object
 4   What_it_does   2857 non-null   object
 5   Founders       2312 non-null   object
 6   Investor       2232 non-null   object
 7   Amount         2601 non-null   object
 8   Stage          1928 non-null   object
 9   Year           2857 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 245.5+ KB

In [33]:
# Check for duplicates and drop them
df_combined.duplicated().sum()
df_combined.drop_duplicates(inplace = True)

In [34]:
# check for missing values
df_combined.isna().mean().mul(100)

Company_Brand     0.000000
Founded          26.890756
HeadQuarter       3.991597
Sector            0.630252
What_it_does      0.000000
Founders         19.047619
Investor         21.848739
Amount            8.963585
Stage            32.528011
Year              0.000000
dtype: float64

Drop columns that do not contribute to answering the research questions or achieving the analysis goals

In [35]:
df_combined.drop(columns = ["Founded", "Founders", "Stage", "What_it_does"], inplace = True)
df_combined.head()

,Company_Brand,HeadQuarter,Sector,Investor,Amount,Year
0,Aqgromalin,Chennai,AgriTech,Angel investors,200000.0,2020
1,Krayonnz,Bangalore,EdTech,GSF Accelerator,100000.0,2020
2,PadCare Labs,Pune,Hygiene management,Venture Center,NaN,2020
3,NCOME,New Delhi,Escrow,"Venture Catalysts, PointOne Capital",400000.0,2020
4,Gramophone,Indore,AgriTech,"Siana Capital Management, Info Edge",340000.0,2020

In [36]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2856 entries, 0 to 88
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   HeadQuarter    2742 non-null   object
 2   Sector         2838 non-null   object
 3   Investor       2232 non-null   object
 4   Amount         2600 non-null   object
 5   Year           2856 non-null   int64
dtypes: int64(1), object(5)
memory usage: 156.2+ KB

In [37]:
# Check for missing values
df_combined.isna().sum()

Company_Brand      0
HeadQuarter      114
Sector            18
Investor         624
Amount           256
Year               0
dtype: int64

In [39]:
# Check for unique enteries
df_combined["HeadQuarter"].unique()
df_combined["Sector"].unique()
df_combined["Amount"].unique()

array([200000.0, 100000.0, nan, 400000.0, 340000.0, 600000.0, 45000000.0,
       1000000.0, 2000000.0, 1200000.0, 660000000.0, 120000.0, 7500000.0,
       5000000.0, 500000.0, 3000000.0, 10000000.0, 145000000.0,
       100000000.0, 21000000.0, 4000000.0, 20000000.0, 560000.0, 275000.0,
       4500000.0, 15000000.0, 390000000.0, 7000000.0, 5100000.0,
       700000000.0, 2300000.0, 700000.0, 19000000.0, 9000000.0,
       40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0, 80000000.0,
       30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0, 35000000.0,
       300000.0, 25000000.0, 3500000.0, 200000000.0, 6000000.0, 1300000.0,
       4100000.0, 575000.0, 800000.0, 28000000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 8000000.0, 121000000.0,
       55000000.0, 3300000.0, 11000000.0, 16000000.0, 5400000.0,
       150000000.0, 4200000.0, 22000000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 150000.0, 176000000.0, 60000000.0, 470000.0, 240000.0,
       3000000000.0, 74000000.0, 62000000.0, 2100000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 225000000.0, 24700000.0,
       7700000.0, 19067328.0, 51000000.0, 115000.0, 54000.0, 20000.0,
       803146.0, 238000.0, 10220000.0, 1020000.0, 12000000.0, 13400000.0,
       170000000.0, 2900000.0, 543000.0, 90000000.0, 3400000.0,
       23000000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0, 1400000.0,
       650000.0, 54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0,
       450000.0, 682000.0, 4050000.0, 1050000.0, 1080000.0, 4300000.0,
       6800000.0, 2110000.0, 764000.0, 603000.0, 409000.0, 292000.0,
       286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       2800000.0, 1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0,
       220000.0, 266500.0, 2879000.0, 26500000.0, 351000.0, 46761000.0,
       175000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 15500000.0,
       56000000.0, 2250000.0, 16753000.0, 3700000.0, 1470000.0, 530000.0,
       267000.0, 3344000.0, 7200000.0, 2743000.0, 6082000.0, 6609000.0,
       27700000.0, 5940000.0, 3964000.0, 5500000.0, 197000.0, 4327000.0,
       459000.0, 3937000.0, 1313500.0, 229800.0, 5305000.0, 264000.0,
       1750000.0, 5967000.0, 2980000.0, 323000.0, 1326000.0, 27000000.0,
       5200000.0, 2530000.0, 792000.0, 11363000.0, 1715000.0, 329000.0,
       5271000.0, 8700000.0, 3226000.0, 5900000.0, 44000000.0, 3879000.0,
       13000000.0, 8800000.0, 9500000.0, 920000.0, 35600000.0, 9400000.0,
       790000.0, 480000.0, 160000.0, 8200000.0, 4257000.0, 1410000.0,
       349800.0, 786000.0, 2004000.0, 123000000.0, 248000.0, 24000000.0,
       14259000.0, 24500000.0, 3800000.0, 18370000.0, 68525000.0,
       4800000.0, 1834000.0, 23850000.0, 43000000.0, 21600000.0,
       4598000.0, 13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0,
       3148000.0, 2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$1,200,000', '$120,000,000', '$30,000,000',
       '$51,000,000', '$2,000,000', '$188,000,000', '$200,000',
       'Undisclosed', '$1,000,000', '$3,000,000', '$100,000', '$700,000',
       '$9,000,000', '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', '250000', '₹40,000,000', '₹65,000,000',
       '2000000', '—', '1600000', '₹16,000,000', '₹50,000,000',
       '₹100,000,000', '150000', '1100000', '₹500,000', '6000000',
       '650000', '₹35,000,000', '₹64,000,000', '₹20,000,000', '1000000',
       '5000000', '4000000', '₹30,000,000', '2800000', '1700000',
       '1300000', '₹5,000,000', '₹12,500,000', '₹15,000,000', '500000',
       '₹104,000,000', '₹45,000,000', '13400000', '₹25,000,000',
       '₹26,400,000', '₹8,000,000', '₹60,000', '9000000', '100000',
       '20000', '120000', '₹34,000,000', '₹342,000,000', '$143,145',
       '₹600,000,000', '$742,000,000', '₹1,000,000,000', '₹2,000,000,000',
       '$3,980,000', '$10,000', '₹100,000', '₹250,000,000',
       '₹550,000,000', '$28,500,000', '₹240,000,000', '₹120,000,000',
       '$2,400,000', '₹2,500,000,000', '$23,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '₹70,000,000', '$14,000,000', '₹102,500,000',
       '₹1,200,000', '₹5,200,000,000', '$1,041,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '₹1,540,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$3,300,000', '₹580,000,000', '₹36,000,000', '₹340,000,000',
       '$210,000,000', '$37,680,000', '$20,000', '₹510,000,000',
       '₹2,200,000,000', '22000000', '70000', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000',
       '$28,000,000', '$275,000,000', '$22,000,000', '$140,500',
       '$182,700', '$15,500,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$6,800,000', '$36,000,000', '$5,700,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$311,000,000', '$4,800,000', '$693,000,000', '$33,000,000'],
      dtype=object)

In [40]:
# Clean Amount colum and convert Indian Rupee to USD currency
def clean_amount(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        # Check if the amount is in INR and convert to USD assuming 1 USD = 70 INR
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) / 70, 2)
        # Check if the amount is in USD
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round(float(Amount), 2) 
        # If no currency symbol, assume it's already in USD
        else:
            return round(float(Amount), 2)
    except ValueError:
        # For non-numeric entries, return NaN
        return np.nan

# Apply the clean_amount function to the 'amount' column
df_combined["Amount"] = df_combined["Amount"].apply(clean_amount)

In [41]:
df_combined["HeadQuarter"] = df_combined["HeadQuarter"].str.split(",", expand = True)[0]
df_combined["HeadQuarter"] = df_combined["HeadQuarter"].str.split("\t", expand = True)[0]

df_combined["HeadQuarter"].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli', 'Thane', None, 'Singapore',
       'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur', 'Delhi',
       'Frisco', 'California', 'Dhingsara', 'New York', 'Patna',
       'San Francisco', 'San Ramon', 'Paris', 'Plano', 'Sydney',
       'San Francisco Bay Area', 'Bangaldesh', 'London', 'Milano',
       'Palmwoods', 'France', 'Trivandrum', 'Cochin', 'Samastipur',
       'Irvine', 'Tumkur', 'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing',
       'Rajastan', 'Kochi', 'Ludhiana', 'Dehradun', 'San Franciscao',
       'Tangerang', 'Berlin', 'Seattle', 'Riyadh', 'Seoul', 'Bangkok',
       'Kanpur', 'Chandigarh', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Goa', 'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore',
       'Coimbatore', 'Bengaluru', 'Ahmadabad', 'Small Towns', 'Rajsamand',
       'Ranchi', 'Faridabad', 'Computer Games', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals', 'Mohali', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Samsitpur', 'Lucknow',
       'Telangana', 'Silvassa', 'Thiruvananthapuram', 'Roorkee',
       'Ambernath', 'Panchkula', 'Surat', 'Mangalore', 'Telugana',
       'Bhubaneswar', 'Kottayam', 'Beijing', 'Panaji', 'Satara',
       'Orissia', 'Santra', 'Mountain View', 'Jharkhand', 'Bhilwara',
       'Guwahati', 'Online Media', 'Information Technology & Services',
       'The Nilgiris', 'Gandhinagar', 'Kalkaji', 'India', 'Hubli', 'New',
       'Azadpur', 'Kota', 'Anand', 'Margão', 'Alwar', 'Kannur',
       'Ernakulam', 'Kormangala', 'Uttar', 'Mylapore', 'Guntur',
       'Kalpakkam', 'Worli', 'Alleppey', 'Guindy', nan, 'Uttar pradesh',
       'Rajasthan'], dtype=object)

In [42]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2856 entries, 0 to 88
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   HeadQuarter    2742 non-null   object
 2   Sector         2838 non-null   object
 3   Investor       2232 non-null   object
 4   Amount         2293 non-null   float64
 5   Year           2856 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 156.2+ KB

In [ ]:
# # List non-numeric unique values
# words = ["JITO Angel Network, LetsVenture", "Pre-series A", "ITO Angel Network, LetsVenture", "ah! Ventures", "$undisclosed", "Undisclosed", "Series C", "Seed", "", "None", "—", "Upsparks", "$Undisclosed"]

# # Replace any of these words with null values
# for word in words:
#     df_combined["Amount"] = df_combined["Amount"].str.replace(word, "")

# df_combined["Amount"].unique()